<html>
<head>
  <title>Change Password</title>
  <link rel="stylesheet" href="/stylesheets/change_password.css"></link>
  <script>
    var code=<%= code %>;
  //  check(code);
    function  check(code)
    {
        if(code==1)
            alert('Wrong current password!');
        if(code==2)
            alert('New password ia not a strong password!');
        if(code==3)
            alert('New password and Confirm Password do not match!');        
    }
  </script>
</head>
<body>

<div >
  <button class="back" onclick="location.replace('/admin')"><-Go Back</button>
</div>
      
<button class="logout" onclick="document.getElementById('id01').style.display='block'" style="float:right;">LogOut</button>
<div id="id01" class="modal" >
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
      <form class="modal-content" action="/admin_logout">
        <div class="container2">
          <h1>LogOut</h1>
          <p>Are you sure you want to log out?</p>          
            <div class="clearfix2">
              <button type="button" onclick="document.getElementById('id01').style.display='none'"  class="cancel">Cancel</button>
              <button type="submit" class="logOut" style="background-color: #f44336 ;width:50%; float:right;">LogOut</button>
            </div>
        </div>
      </form>
  </div>

  <div class="changePass">
    <img src="/images/avatar.png" class="avatar">
    <h1>Change Password</h1>
    <form method="post" action="/admin_changePassword">
      <p>Old Password</p>
      <input type="password" placeholder="Enter old password" name="oldPass" 
        value="<%= typeof password!='undefined'?password:'' %>" required>
        <span id="oldPass" style="display: none;"></span>
        <script>
          if(code==1)
          {
            document.getElementById("oldPass").innerHTML="Wrong old password!";
            document.getElementById("oldPass").style.display="";
          }
        </script>

      <p>New Password</p>
      <input type="password" placeholder="Enter new Password" name="newPass" 
        value="<%= typeof newPass!='undefined'?newPass:'' %>" required>
        <span id="nPass" style="display: none;"></span>
            <script>
              if(code==2)
              {
                document.getElementById("nPass").innerHTML="New password is not strong!";
                document.getElementById("nPass").style.display="";
              }
            </script> 

      <p>Confirm Password</p>
      <input type="password" placeholder="Confirm Password" name="confirmPass" required>
      <span id="conPass" style="display: none;"></span>
            <script>
              if(code==3)
              {
                document.getElementById("conPass").innerHTML="New password and confirm password did not match";
                document.getElementById("conPass").style.display="";
              }
            </script>
      <br><br><br>
      <input type="submit" name="button" value="Change Password">
    </form>
  </div>
</body>
</head>
</html>