<!DOCTYPE html>
<html>
<head>
    <title>Notice Board</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='/stylesheets/page1.css' />
<script src="/javascripts/global.js"></script>
</head>
<body >
  <div class="head"><i><u>Notice Board</u></i></div>
<div class="main">
<center>

<a href="/users/student_notice">
  <div class="container1">
  <img src="/images/student1.jpg" alt="Avatar" class="image">
  <div class="overlay1">
    <div class="text">Student</div>
  </div>
</div>
</a>  

<a href="/users/other_notice">
  <div class="container2">
  <img src="/images/faculty.jpg" alt="Avatar" class="image">
  <div class="overlay2">
    <div class="text">Faculty and Staff</div>
  </div>
</div>
</a>

</center>
</div>

<div class="logout">
  <form method="get" action="/logout" >
      <button  type="submit">Log out</button>
  </form>
</div>

</body>
</html>
