
body{
  margin:0;
  padding: 0;
  background: url(/images/background35.jpg);
  background-size: cover;
  background-position: center;
}

.changePass{
  width: 320px;
  height: 450px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform:translate(-50%,-50%);
  box-sizing:border-box;
  padding: 70px 30px;
  opacity: 0.9;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top:-50px;
  left: 35%;
}

h1{
  margin: 0;
  padding: 0 0 20px;  
  text-align: center;
  font-size: 22px;
}

.changePass p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}


.changePass input{
  width: 100%;
  margin-bottom: 20px;
}

 .changePass input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}


.changePass input[type="submit"]{
  border: none;
  outline: none;
  height: 35px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  opacity: 0.9; 
  box-shadow: 8px;
  margin-top: -30px;
}

.changePass input[type="submit"]:hover{
  opacity: 1;
  box-shadow: 0;
}






 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; 
  height: 65%; 
  background-color: #474e5d;
  padding-top: 2%;
  margin-top: 5%;
  margin-left: 10%;
}

/* Set a style for all buttons */
.modal button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 28px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.modal button:hover {
  opacity:1;
}


/* Float cancel and signup buttons and add an equal width */
.clearfix2 button {
  float: left;
  width: 50%;
}


/* Addding padding to container elements */
.container2 {
  padding: 16px;
}



/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 65%;
}




button{
  border: none;
}



.back{
  background-color: aqua;
  margin-top:20px;
  margin-left:40px;
  padding:16px;
  cursor: pointer;
  border-radius: 5px;
}
.logout{
  background-color: #fb2525;
  margin-top:-50px;
  margin-right:40px;
  padding:16px;
  cursor: pointer;
  border-radius: 5px;
}

.back:hover{
  background-color: rgb(17, 233, 222);
}


.logout:hover{
  background-color: rgb(236, 19, 12);
}


#nPass,#conPass,#oldPass{
  background-color: #e64539;
  color: #fff;
  width: 80%;
  padding: 3px;  
  display: inline-block;
  padding-right: 50px;
 }