body {
  font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Addding a background color when the inputs get focus */
input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.activate button,.deactivate button,.remove button{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.activate button:hover ,.deactivate button:hover,.remove button:hover {
  opacity:1;
}



/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 8%;
  top: 15%;
  width: 80%; 
  height: 60%;
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto 5% auto;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Styling the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .activate,.deactivate {
     width: 100%;
  }
}


#back{
  border: none;
  border-radius: 20px;
  width:10%;
  font-size: 18px;
  background-color: #dddddd;
  cursor: pointer;
}

#back:hover{
  background-color: #81c6f5;
}




table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}




.act{
  color: #000000;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.act:hover{
  transform: translate(-2px,-2px); 
}

.act:active{
  transform: translate(1px,1px);
}